table {
    width: 98%;
    margin-left: 1%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 94%;
  }
  th{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}
td{
    color: slategray;
}
  
 