<div class="container-fluid " >
  <mat-card class="position" >
    <form class="example-form" >
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Devise" >
      </mat-form-field><br>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Valeur à l'achat" >
      </mat-form-field><br>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Valeur à la vente" >
      </mat-form-field><br>
      <div class="bouton">
          <button mat-raised-button color="warn" routerLink="/dashboard/devise">Retour</button>
          <button mat-raised-button color="primary">Valider</button>
        </div>
    </form>
  </mat-card>
 

</div>