<div class="container-fluid">
  <table border="10">
      <tr>
          <td colspan="2">Compte de Prêt:<a style="margin-left: 3%;"> 021235-4054054545-5405 XOF</a></td>
        </tr>
    <tr>
      <td colspan="2">Numéro Dossier: <a style="margin-left: 3%;">   012768</a></td>
    </tr>
    <tr>
        <td>Montant du prêt: 1 200 000</td>
        <td>Durée du prêt: 60 mois</td>
      </tr>
      <tr>
          <td>Taux d'intérêt: 7%</td>
          <td>Type de taux: Variable</td>
        </tr>
        <tr>
            <td>Date Echéance: 25/09/2019</td>
            <td>Amortissement Restant: 25</td>
          </tr>
          <tr>
              <td>Périodicité: mensuelle</td>
              <td>Capital Restant: 25</td>
            </tr>
            <tr>
                <td>Prochain Amortissement: 25/09/2019</td>
                <td>Montant Amortissement: 25700</td>
              </tr>
  </table>
</div>