table{
    margin-top: 10%;
    border: 2px solid;
    border-color: rgb(100, 100, 161);
}


  th{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

td{
    color: slategray;
}

.bouton_ajout{
  margin-left: 80%;
  width: 15%;
  margin-top: 6%;
  color: white;
}
.positionM{
  border: 1px solid;
width: 70%;
margin-top: 2%;
margin-left: 10%;
}
.footer{
  width: 100%;
  margin-top: 0%;
  margin-left: 0%;
  background-color: rgb(121, 136, 206);
  display: block;
}
.header{
  
  width: 104%;
  margin-top: 0%;
  margin-left: -2%;
  background-color: rgb(153, 158, 179);
}
.retour{
  margin-top: 1%;
  margin-left: 72.5%;
}
mat-card{
  width: 70%;
  margin-top: 3%;
  margin-left: 10%;
  /* border: 1px solid;  */
}
td{
  color: black;
}