<div class="container-fluid">
  <table border="10">
      <tr >
          <td  colspan="2"><a style="margin-left:35%;">Compte de Prêt:</a><a > 021235-4054054545-5405 XOF</a></td>
        </tr>
    <tr>
      <td colspan="2">Num Dossier: <a style="margin-left: 3%;">   012768</a></td>
    </tr>
    <tr>
        <td>Montant du prêt: 1 200 000</td>
        <td>Durée du prêt: 60 mois</td>
      </tr>
      <tr>
          <td>Taux d'intérêt: 7%</td>
          <td>Type de taux: Variable</td>
        </tr>
        <tr>
            <td>Echéance Prêt: 25/09/2021</td>
            <td>Amortissements Restants: 25</td>
          </tr>
          <tr>
              <td>Périodicité: Mensuelle</td>
              <td>Capital Restant: 621 000</td>
            </tr>
            <tr>
                <td>Prochain Amortissement: 25/09/2019</td>
                <td>Montant Amortissement: 25 700</td>
              </tr>
  </table>
</div>