<div class="container">
   <h5 id="h5">Comment faire opposition sur une carte bancaire ?</h5>
  <div class="container">
      <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile><img mat-card-image src="assets/img/faire.png" alt="faire opposer"></mat-grid-tile>
          <mat-grid-tile> <p>En cas de perte, de vol ou d'utilisation frauduleuse, le titulaire de la carte doit faire opposition dans les meilleurs délais. Cette opposition permet à la banque de prendre toutes 
            les mesures pour que la carte ne soit plus utilisable.</p> </mat-grid-tile>
          
        </mat-grid-list>
  </div>
  <div class="container" id="faire">
    <h5>Les cas d'opposition sur la carte bancaire</h5>
   
    <p>Il y a 4 cas dans lesquels le titulaire doit faire opposition sur sa carte :</p> 
     <li>la perte de la carte</li>
     <li>le vol de la carte</li>
     <li>l'utilisation frauduleuse de la carte ou de ses données, par exemple pour des paiements sur internet</li>
     <li>le redressement ou la liquidation judiciaire du bénéficiaire du paiement</li> <br><br>
    
     <h5>Comment faire opposition sur sa carte bancaire ?</h5>
     <p>Pour faire opposition il faut appeler au plus tôt :</p>
     <li>soit le numéro spécial du serveur interbancaire 0 892 705 705 (0,34 euros la minute), joignable 24h/24 et 7 jours/7
      </li>
     <li>soit le numéro fourni par la banque lors de la souscription de la carte</li>
     <li>soit le numéro du réseau d'acceptation de la carte figurant sur les distributeurs de billets lorsqu'on est à l'étranger</li> 
    </div>
</div>