<div class="container" id="opposer">
    <img id="img1" mat-card-image src="assets/img/brm_logo.png" alt="faire opposer">
    <div class="row" id="opposer1">
        <h5 style="margin-top: 2%; margin-left: 5%; text-align: center; margin-bottom: 10%; "></h5> <br>

    </div> <br> <br>
    <h3 style="margin-bottom: 20%; margin-top: 20%; text-align: center;">
        Instructions</h3>
</div>

<div style="margin-left: 80%;">
    <button mat-raised-button color="warn" [routerLink]="[ '/dashboard/cheque/']">Retour</button>
</div>