<div class="container" id="opposer">
  <img id="img1" mat-card-image src="assets/img/brm_logo.png" alt="faire opposer">
  <div class="row" id="opposer1">
   <h5 style="margin-top: 2%; margin-left: 5%; text-align: center; ">FORMALITES A ACCOMPLIR EN CAS DE PERTE OU VOL DE CHEQUIER</h5> <br>
  
  </div> <br> <br>
  <p>
    Il n'est admis d'opposition au paiement d'un chèque par le tireur qu'en cas de perte, de vol, d'utilisation frauduleuse
     du chèque ou d'ouverture des procédures collectives contre le porteur.
  </p>
  <p>
    Le tireur doit immédiatement confirmer son opposition et en indiquer le motif par écrit quel que soit le support
     de cet écrit
     (lettre missive, e-mail, fax). Cette défense de payer ne prend fin que par mainlevée ou par prescription.
  </p>
  <p>
    En cas de contestation du porteur, à l'égard d'une opposition du tireur, le juge des référés, même dans le cas ou une instance au principal est engagée
     peut ordonner la mainlevée de l'opposition. Celui qui paye un chèque sans opposition est présumé valablement libéré.
  </p>
  <p>
    Faites opposition dans les plus brefs délais:
    <li>
      Téléphonez au centre d’appels de la banque régionale de marchés au +221 33 867 25 16 ou
       votre conseiller de clientèle en indiquant le ou les numéros de chèques perdus ou volés,
    
    </li>
    <li>
      Vous pouvez également faire part de votre demande d’opposition en envoyant un message à votre conseiller clientèle via la messagerie E-BANKING,
       en indiquant le ou les numéros de chèques perdus ou volés,.

    </li>

    <li>
      Faites une déclaration de perte ou de vol à la gendarmerie ou au commissariat de police le plus proche,
    </li>
    <li>
      Confirmez obligatoirement sous 48h par écrit 
      à votre agence en joignant la copie de votre déclaration de perte (indispensable pour refuser le paiement).
    </li>
  </p>
</div>

<div style="margin-left: 80%;">
  <button mat-raised-button color="warn" [routerLink]="[ '/dashboard/carte/']">Retour</button>
</div>