<div class="container" id="principal">
    <div class="">

        <div>
            <!-- <img id="img" mat-card-image src="assets/img/brm_logo.png" alt="faire opposer"> <br> <br> -->

            <strong id="st1">DECOUVREZ LA BANQUE REGIONALE DE MARCHES EN LIGNE ET DECOUVREZ LE MEILLEUR DU E-BANKING
        </strong> <br> <br>
            <img id="img1" mat-card-image src="assets/img/brm_logo.png" alt="faire opposer"> <br> <br>
            <h3 style="color:red; margin-left: 40%; margin-bottom: 20%;">Fonctionnalités </h3>
        </div>
        <div class="container" id="li">


            <h3 style="color:red; margin-left: 40%;  margin-bottom: 20%;">Avantages</h3>
            <div style="height: 20%">

            </div>
        </div>


        <div class="row" id="btr">
            <button mat-raised-button color="warn" [routerLink]="[ '../']">Retour</button>
        </div>