#img{
    margin-left: 42%;
    width: 100px;
    height: 100px;
    margin-top: 2%;
}
#st1{
    font-size: 16px;
   margin-left: 10%;
    margin-top: 1%;

}
#img1{
    margin-left: 40%;
    width: 200px;
    height: 200px;
    
}
li{
    margin-left: 10%;
    font-size: 14px;
    font-family: monospace;;
}
#principal{
    background-color: orange;
    margin-top: 19%;
    border: 10px solid;
    border-radius: 5px;
}
#btr{
    margin-left: 50%;
    margin-top: 1%;
    margin-bottom: 2%;
}