<div class="container" id="principal">
  <div class="">

      <div>
        <!-- <img id="img" mat-card-image src="assets/img/brm_logo.png" alt="faire opposer"> <br> <br> -->

        <strong id="st1">DECOUVREZ LA BANQUE REGIONALE DE MARCHES EN LIGNE ET DECOUVREZ LE MEILLEUR DU E-BANKING
        </strong> <br> <br>
        <img id="img1" mat-card-image src="assets/img/brm_logo.png" alt="faire opposer"> <br> <br>
        <h3 style="color:red; margin-left: 40%;">Fonctionnalités </h3>
      </div>
      <div class="container" id="li">
        <li> <strong> Consultation de vos comptes</strong> </li>
        <li> <strong> Réalisation de vos opérations courantes </strong> </li>
        <p style="margin-left: 12%; font-size: 13px;">(virements compte à compte ou confrères, virements de masse,
          virements permanents, commande de
          chéquiers , mise à disposition des relevés de compte mensuels…)</p>
        <li> <strong> Ajout de bénéficiaire en ligne </strong></li>
        <li> <strong> Messagerie clients/ Banque et Banque/Clients </strong></li>
        <li><strong> Informations sur les produits et services proposés par SGBS: </strong></li>
        <p style="margin-left: 12%; font-size: 14px;">cours des devises, cours des actions, liste des agences</p>

        <h3 style="color:red; margin-left: 40%;">Avantages</h3>
        <li>
          <strong>SECURITE: </strong> confidentialité des opérations assurée par un système de cryptage très puissant
        </li>
        <li>
          <strong>ECONOMIE: </strong>coût des transactions réduit
        </li>
        <li>
          <strong>GAIN DE TEMPS: </strong> plus besoin de se rendre en agence
        </li>
        <li>
          <strong>SIMPLICITE: </strong> Interface conviviale, ergonomique et simple à utiliser
        </li>

        <h3 style="color:red; margin-left: 30%;">Avec une sécurisation de vos transactions </h3>
        <p style="margin-left:10%; font-size: 14px;">
          Afin de vous garantir une sécurité maximale, BANQUE REGIONALE DE MARCHÉ en ligne est doté d’un système de
          chiffrement de
          données des plus performants. BANQUE REGIONALE DE MARCHÉ en ligne assure également la confidentialité de vos
          données et
          transactions bancaires grâce à la double clé composée de votre code d’abonné (identifiant) et votre mot de
          passe
        </p>
      </div>


    <div class="row" id="btr">
      <button mat-raised-button color="warn" [routerLink]="[ '../']">Retour</button>
    </div>