<div class="container" id="principal">
    <div class="container" id="principal1">
     
       
    
    <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
              <h4>Demande de carte bancaire</h4>
          </td>
          <td>
              <button printTitle="E-BANKING"  
              printSectionId="principal2"  
              ngxPrint
              style="margin-left:290%;">
                  <mat-icon style="margin-left:-80px;" matSuffix>print</mat-icon> <div style="margin-top:-25px; margin-left:30px;">Impréssion</div> 
              </button>
          </td>
        </tr>
      </table>
      <div class="row" style="font-size:16px; margin-left:2%;" 
      >Saisie des information pour la commande de la carte bancaire </div>
   </div>
   <div style="margin-top:2%; margin-left: 2%;" >
   <div> 
     <strong> Compte</strong>  
    <p>
        <select matNativeControl required id="inp1">
            <option value="volvo">CPTL CLIP 2103 356106790566 FFHHFFH</option>
            <option value="saab">DHTL CLIP 2103 356106790566 FFHHFFH</option>
            <option value="mercedes">EQGL CLIP 2103 356106790566 FFHHFFH</option>
            <option value="audi">ADRF CLIP 2103 356106790566 FFHHFFH</option>
          </select>
    </p> 
  </div> 
   
  <div> 
      <strong> Agence</strong>  
     <p>
       1150 Sicap foire
     </p> 
  </div>
   
  <div> 
      <strong>Titulaire du compte</strong>  
     <p>
       COULIBALY IBOURAIMA
     </p> 
   </div>

   <div> 
      <strong>Type de commande</strong>  
     <p>
       <input type="radio" name="" id="">Prémier acquission
     </p>
     <p>
        <input type="radio" name="" id="">Prémier acquission
      </p> 
   </div>

   <div> 
      <strong> Type de carte</strong>  
     <p>
       <select name="" id="">
         <option value=""></option>
         <option value="">bst</option>
         <option value="">re</option>
       </select>
     </p> 
   </div> 

   <div> 
      <strong>Titulaire de la carte</strong>  
     <p>
       COULIBALY IBOURAIMA
     </p> 
   </div>

   <div> 
      <strong>Type d'utilisation</strong>  
     <p>
       <input type="radio" name="" id="">Affaire
     </p>
     <p>
        <input type="radio" name="" id="">Personnelle
      </p> 
   </div>

   <div> 
      <strong>Type de Débit</strong>  
     <p>
       <input type="radio" name="" id="">immédiat
     </p>
     <p>
        <input type="radio" name="" id="">diffé
      </p>
      <p>
          <input type="radio" name="" id="">Personnelle
        </p> 
   </div>




</div>


  </div>
