<div style="margin-left: 50%; margin-top: 2%; margin-bottom: -2%;">
    <!-- <input type="radio" name="virement" id=""><strong>Virement Permanent</strong>
    <input type="radio" name="virement" id="" style="margin-left: 20px;"><strong>Virement Unique</strong> -->
    <mat-radio-group (click)="option()" [(ngModel)]="virement" name="virer" aria-label="Select an option">
        <mat-radio-button value="permanent">Virement Permanent</mat-radio-button>&nbsp;
        <mat-radio-button value="unique">Virement Unique</mat-radio-button>
    </mat-radio-group>
</div>

<div id="nouveau">
    <div id="nouveau1" style="font-family: monospace; font: 16px; margin-left: 3%;">
        <h5 style="margin-left: 3%;">Détail de l'orde</h5>


        <div style="margin-top:2%; margin-left: 2%;" id="imprimer">
            <div>
                <strong> Compte à débité</strong>
                <p>
                    <select id="inp1" style="width: 400px; height: 30px;">
                        <option value="volvo"> 2103 356106790566 FFHHFFH</option>
                        <option value="saab"> 2103 356106790566 FFHHFFH</option>
                        <option value="mercedes"> 2103 356106790566 FFHHFFH</option>
                        <option value="audi"> 2103 356106790566 FFHHFFH</option>
                    </select>
                </p>
            </div>

            <div>
                <strong> Agence</strong>
                <p>02900 SICAP FOIRE</p>
            </div>

            <div>
                <strong> Titulaire du compte</strong>
                <p>IBOURAIMA COULIBALY</p>
            </div>
            <div>
                <strong> Solde</strong>
                <p>0 XOF au 30/07/2019</p>
            </div>

            <div>
                <strong> Compte à créditer</strong>
                <p>
                    <select id="inp1" style="width: 400px; height: 30px;">
                        <option value="volvo">35610679056623344-234</option>
                        <option value="saab"> 2103 35610679056634567</option>
                        <option value="mercedes"> 2103 356106790566-0000</option>
                        <option value="audi">2103 356106790566 0000</option>
                    </select>
                </p>
            </div>


            <div>
                <strong>Date</strong>
                <p> <input type="radio" name="date" id="" style="height: 10px; width: 10px; margin-right: 10px;">Aujourd'hui</p>
                <p><input type="radio" name="date" id="" style="height: 10px; width: 10px; margin-right: 10px;">A une autre date
                    <input type="text" name="" id=""></p>
            </div>

            <div>
                <strong>Devise du transfert</strong>
                <p>
                    <select name="" id="" style="width: 200px; height: 30px;">
                        <option value="">XOF</option>
                        <option value="">EURO</option>
                        <option value="">DOLLAR US</option>
                        <option value="">YEN JAPONAIS</option>
                    </select>
                </p>
            </div>
            <div>
                <strong>Montant</strong>
                <p> <input type="number" name="" id="" placeholder="0.00" style="height: 30px; width:200px;"></p>

            </div>

            <div>
                <strong>Motif</strong>
                <p><input type="text" name="" id="" style="height: 30px; width:200px;"></p>
            </div>
            <div>
                <strong>Description(max 140)</strong>
                <p>
                    <textarea name="" id="" cols="50" rows="5"></textarea>
                </p>
            </div>
        </div>



    </div>
</div>
<div class="row" style="margin-left: 40%; margin-top: 1%;">
    <button mat-raised-button color="primary" [routerLink]="">Valider</button>
    <button mat-raised-button color="default" [routerLink]="">Effacer</button>
    <button style="margin-left: 50%;" mat-raised-button color="warn" [routerLink]="[ '/dashboard/compte/']">Retour</button>

</div>