<div id='commander'> Commander un chéquiers </div>
<div class="row" id="commander1">
    <form class="example-form" id="form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Commander un chequiers  " disabled value="E-BANKING">
        </mat-form-field>
      
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field style="width:100%;">
            <mat-label>Intitulé du compte</mat-label>
            <mat-select disableRipple>
              <mat-option value="1">Compte a vue particuliers</mat-option>
              <mat-option value="2">Compte Epargne</mat-option>
              <mat-option value="3">Compte courant</mat-option>
              <mat-option value="4">Bénécaire</mat-option>
            </mat-select>
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="Numero de compte">
          </mat-form-field></td>
        </tr></table>
      
        
        <table class="example-full-width" cellspacing="0"><tr>
            <td><mat-form-field class="example-full-width">
              <input matInput placeholder="Nom client">
            </mat-form-field></td>
            <td><mat-form-field style="width:100%;">
              <mat-label>Type de chéquiers</mat-label>
              <mat-select disableRipple>
                <mat-option value="1">Classique</mat-option>
                <mat-option value="2">Portefeuille</mat-option>
               
              </mat-select>
            </mat-form-field></td>
          </tr></table>

          <table class="example-full-width" cellspacing="0"><tr>
            <td><mat-form-field style="width:100%;">
              <mat-label>Selectionner le mode de livraison</mat-label>
              <mat-select disableRipple>
                <mat-option value="1">Personnelle</mat-option>
                <mat-option value="2">particuliers</mat-option>
               
              </mat-select>
            </mat-form-field></td>
              <td><mat-form-field style="width:100%;">
                <mat-label>selectionner la quantité souhaiter</mat-label>
                <input type="number"  matInput>
              </mat-form-field></td>
             
            </tr></table>

      
            <button style="margin-left:300px;" mat-raised-button color="primary" [routerLink]="[ '' ]">Enregistrer
            </button>
      </form>
       
</div>