p{
  margin-left: 35%;
  margin-top: -17px;

}
strong{
    
}
.header{
    width: 70%;
    margin-top: 1%;
    margin-left: 16%;
    background-color: rgb(153, 158, 179);
  }
  .footer{
    width: 100%;
    margin-top: 0%;
    margin-left: 0%;
    background-color: rgb(121, 136, 206);
    display: block;
  }
#principal1{
}
#principal{
    width: 70%;
    margin-top: -0.75%;

}
.card{
    width: 70%;
    margin-left: 16%;
    margin-top: -0.75%;

}
button{
    margin-left: 2%;
}
input{
    margin: 1%;
    width: 10px;
    height: 10px;
}

