<div class="container" id="opposer">
    <img id="img1" mat-card-image src="assets/img/brm_logo.png" alt="faire opposer">
    <div class="row" id="opposer1">
        <h5 style="margin-top: 2%; margin-left: 20%; ">FORMALITES A ACCOMPLIR EN CAS</h5> <br>
        <h5 style="margin-top: 2%; margin-left: 15%; margin-bottom: 2%; "> DE PERTE OU VOL DE VOTRE CARTE BANCAIRE</h5>
    </div> <br> <br>
    <p>
        Il est porté à l’attention de la clientèle que l'ordre ou l'engagement de paiement donné au moyen d'une carte de paiement est irrévocable.
    </p>
    <p>
        Le titulaire de la carte et/ou du compte peut toutefois faire opposition au paiement en cas de perte, de vol ou d’utilisation frauduleuse de la carte ou en cas d'ouverture d'une procédure collective contre le bénéficiaire du paiement.
    </p>
    <p>
        A cet effet, le titulaire de la carte et/ou du compte est invité à se conformer aux instructions suivantes :
        <li>
            Prévenez immédiatement votre Agence ou votre conseiller de clientèle dès connaissance de la survenance d’une des conditions de l’opposition ci-dessus visées au +221 33 867 25 16
        </li>
        <li>
            En cas de perte de la carte faites aussitôt une déclaration à la police ou déposez une plainte en cas de vol ou de fraude sur la carte.

        </li>

        <li>
            Adressez à votre Agence ou votre conseiller clientèle une lettre de confirmation dans les vingt-quatre (24) heures suivant l’opposition faite par appel téléphonique, en joignant en annexes les pièces justificatives ainsi que le certificat de perte ou,
            suivant le cas, le récépissé de dépôt de la plainte
        </li>
    </p>
</div>

<div style="margin-left: 80%;">
    <button mat-raised-button color="warn" [routerLink]="[ '/dashboard/carte/']">Retour</button>
</div>