<div id='masse'> <strong style="margin-top:1.2%;">Virements de masse</strong> </div>
<div class="row" id="masse1">
  <form class="example-form" id="form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="E-BANKING  " disabled value="VIREMENTS DE MASSE">
    </mat-form-field>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Intutilé du compte">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Numero du compte">
          </mat-form-field>
        </td>
      </tr>
    </table>

    <p>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="NOM et Prenom">Nom et Prenom</textarea>
      </mat-form-field>

    </p>
    <table class="example-full-width" cellspacing="0" style="width:104%;">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Montant a transferer">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="picker" placeholder="Date de transfer">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </td>
      </tr>
    </table>


    <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />

    <!-- <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()"
      [disabled]="!uploader.getNotUploadedItems().length">
      
    </button> -->




    <button style="margin-left:300px;" mat-raised-button color="primary" [routerLink]="[ '' ]">
      Transferer
    </button>
  </form>

</div>