#remise {
    width: 100%;
    /*margin-left: 10%;*/
    height: 50%;
    /* border: 1px solid; */
    /* border-radius: 8px; */
}

table {
    width: 100%;
}

.footer {
    width: 103%;
    margin-top: 0%;
    margin-left: -1.5%;
    background-color: rgb(121, 136, 206);
    display: block;
}

.header {
    width: 80%;
    margin-top: 3%;
    margin-left: 10%;
    background-color: rgb(153, 158, 179);
}

mat-card {
    width: 80%;
    margin-top: -0.75%;
    margin-left: 10%;
    /* border: 1px solid;  */
}

td {
    color: black;
}

i {
    cursor: pointer;
}

th {
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;
}

#re {
    font-size: 13%;
    color: black;
    margin-left: 45%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#impri {
    margin-top: 10%;
}

hr {
    opcaity: 0.6;
    width: 400px;
    height: 2px;
    margin-right: auto;
    margin-left: auto;
    background-color: #666;
}