#remise {
    width: 94%;
    margin-left: 3%;
    height: 50%;
    /* border: 1px solid; */
    /* border-radius: 8px; */
}

table {
    width: 100%;
}

.footer {
    width: 100%;
    margin-top: 0%;
    margin-left: 0%;
    background-color: rgb(121, 136, 206);
    display: block;
}

.header {
    width: 80%;
    margin-top: 3%;
    margin-left: 10%;
    background-color: rgb(153, 158, 179);
}

mat-card {
    width: 80%;
    margin-top: -0.75%;
    margin-left: 10%;
    /* border: 1px solid;  */
}

td {
    color: black;
}

i {
    cursor: pointer;
}

th {
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;
}

#re {
    font-size: 13%;
    color: black;
    margin-left: 45%;
    margin-top: 2%;
<<<<<<< HEAD
    margin-bottom: 2%;
=======
    margin-bottom: 0%;
>>>>>>> 4280c46e660f7dbdc5c5b3ab54f83c356e9d86bb
}