<div class="container" id="remise">
    <p style="font-size: 18px; color:black;"> Listes de chéques à remettre</p>

    <div>
        <strong>Sélectionner un Compte : </strong>
        <select name="" id="" style="margin-left: 5%; height: 30px;">
        <option value="">021235-4054054545-5405 XOF COMPTE A VUE PARTICULIERS</option>
        <option value="">021235-4054054545-5405 XOF COMPTE EPARGNE</option>
        <option value="">021235-4054054545-5405 XOF COMPTE A VUE PARTICULIERS</option>
      </select>
    </div>
    <button style="margin-left: 83%;" mat-raised-button><i style="margin: 5px; margin-left: -10px;" class="fa fa-plus" aria-hidden="true"></i>Ajouter</button>
    <table>
        <thead>
            <tr>
                <th>Emetteur</th>
                <th>Banque</th>
                <th>Numéro de chéques</th>
                <th>Montant</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" name="" id="" value=""></td>
                <td><input type="text" name="" id="" value=""></td>
                <td><input type="text" name="" id="" value=""></td>
                <td><input type="text" name="" id="" value=""></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td style="color: red; margin-left: 30px;">Total</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div class="container" style="margin-left: 40%; margin-top: 3%;">
        <a>
            <mat-icon style="margin-top: 10px; color: red;" matSuffix>print</mat-icon>
            Edition pdf</a>
        <a style="margin-left: 3%;">
            <mat-icon style="" matSuffix>print</mat-icon> Imprimer</a>
    </div>

</div>