<br><br>
<span id="re" style="margin-top: 2%;"> Remise de chéques</span>
<div class="container" id="remise">

    <mat-card class="header"></mat-card>
    <mat-card>

        <div style="margin-top: 2%;">
            <strong style="font-family: 'Courier New', Courier, monospace;">Sélectionner un Compte : </strong>
            <select name="" id="" style="margin-left: 5%; height: 30px;">
                <option value="">021235-4054054545-5405 XOF COMPTE A VUE PARTICULIERS</option>
                <option value="">021235-4054054545-5405 XOF COMPTE EPARGNE</option>
                <option value="">021235-4054054545-5405 XOF COMPTE A VUE PARTICULIERS</option>
            </select>
        </div>
        <button style="margin-left: 90%; height: 30px; margin-bottom: 2%;" *ngIf="fieldArray.length <= 10" color="primary" mat-raised-button (click)="addFieldValue()"><i style="margin: 5px; margin-left: -10px;"
                class="fa fa-plus" aria-hidden="true"></i>Ajouter</button>






        <table class="table table-striped ">

            <thead>
                <!-- <tr>
                    <th>Item Name

                        <a (click)="onEditCloseItems()" class="text-info float-right">
                            <i class="mdi mdi-{{isEditItems ? 'close' : 'pencil'}} mdi-18px"></i>
                        </a>
                    </th>

                </tr> -->

                <tr style="text-align: center;">
                    <th>Emetteur</th>
                    <th>Banque</th>
                    <th>Numéro de chéques</th>
                    <th>Montant</th>
                </tr>
            </thead>

            <!-- <tbody>
                <tr *ngIf="firstField">
                    <td>
                        <i (click)="firstField = false" class="mdi mdi-close mdi-18px"></i> {{firstFieldName}}
                    </td>
                </tr>
                <tr *ngFor="let field of fieldArray; let i = index">
                    <td *ngIf="field?.name">
                        <i (click)="deleteFieldValue(i)" class="mdi mdi-close mdi-18px"></i> {{field.name}}</td>
                </tr>
            </tbody> -->

            <tbody>
                <tr>
                    <td *ngIf="firstField">
                        <div class="input-group">

                            <input [(ngModel)]="firstFieldName1" class="form-control py-2 " type="text" name="firstFieldName">

                        </div>
                    </td>

                    <td *ngIf="firstField">
                        <div class="input-group">

                            <input [(ngModel)]="firstFieldName2" class="form-control py-2 " type="text" name="firstFieldName">

                        </div>
                    </td>

                    <td *ngIf="firstField">
                        <div class="input-group">

                            <input [(ngModel)]="firstFieldName3" class="form-control py-2 " type="text" name="firstFieldName">

                        </div>
                    </td>

                    <td *ngIf="firstField">
                        <div class="input-group">

                            <input id="number" data-montant class="form-control py-2 " type="number" [formControl]="number" name="firstFieldName">

                        </div>
                    </td>



                </tr>

                <tr *ngFor="let field of fieldArray; let i = index">
                    <td>
                        <div class="input-group">

                            <input [(ngModel)]="field.name" class="form-control" type="text">
                        </div>
                    </td>

                    <td>
                        <div class="input-group">

                            <input [(ngModel)]="field.name1" class="form-control" value="t" type="text">
                        </div>
                    </td>

                    <td>
                        <div class="input-group">

                            <input [(ngModel)]="field.name2" class="form-control" type="text">
                        </div>
                    </td>

                    <td>
                        <div class="input-group">

                            <input id="number1" data-montant class="form-control" type="number" [formControl]="number1" name="{{field.name}}">
                        </div>
                    </td>
                </tr>


                <!-- <tr>
                    <td align="right">
                        <button *ngIf="fieldArray.length <= 2" class="btn btn-success btn-sm" type="button" (click)="addFieldValue()" style="margin-right:10px">Add More Item</button>
                        <button (click)="onEditCloseItems()"   type="button">Save Items</button>
                    </td>
                </tr> -->
            </tbody>

        </table>
        <div class="row">
            <p style="margin-left: 69%; color: tomato; font-size: 14px;">Total</p>
            <input placeholder="0" style="margin-left: 77%; border: none; margin-top:-6%; font-size: 14px;" value=" {{number.value + number1.value }} XOF">


        </div>
        <div style="margin-left: 40%; margin-top: 3%;">

            <button printTitle="E-BANKING" printSectionId="remise" ngxPrint style="margin-left:2%; background-color: white; margin-bottom: 4%; margin-top: -5%; border: none;">
                <mat-icon matSuffix>print</mat-icon> Imprimer
            </button>
        </div>


        <mat-card-footer>
            <mat-card class="footer"></mat-card>
        </mat-card-footer>
    </mat-card>

    <script type="text/javascript">
        // function calculer() {
        //     var calcul = document.getElementById("number").value + document.getElementById("number1").value;
        //     if (calcul == null) {
        //         return 0;
        //     } else {
        //         return calcul;
        //     }

        // }
        // var calcul = 0;
        // var number = 0;
        // var number1 = 0;
        // number = document.getElementById("number").value;
        // number = document.getElementById("number").value;
        // calcul = document.getElementById("number").value + document.getElementById("number1").value;
        // if (isNaN(calcul)) {
        //     calcul = 0;
        // } else {
        //     calcul = document.getElementById("number").value + document.getElementById("number1").value;
        //}
    </script>
</div>