<div id="nouveau">
    <div id="nouveau1" style="font-family: monospace; font: 16px; margin-left: 3%;">
        <h5 style="margin-left: 3%;">Détail de l'orde</h5>


        <div style="margin-top:2%; margin-left: 2%;" id="imprimer">
            <div>
                <strong> Compte</strong>
                <p>
                    <select id="inp1" style="width: 400px; height: 30px;">
                        <option value="volvo">CPTL CLIP 2103 356106790566 FFHHFFH</option>
                        <option value="saab">DHTL CLIP 2103 356106790566 FFHHFFH</option>
                        <option value="mercedes">EQGL CLIP 2103 356106790566 FFHHFFH</option>
                        <option value="audi">ADRF CLIP 2103 356106790566 FFHHFFH</option>
                    </select>
                </p>
            </div>

            <div>
                <strong> Agence</strong>
                <p>02900 SICAP FOIRE</p>
            </div>

            <div>
                <strong> Titulaire du compte</strong>
                <p>IBOURAIMA COULIBALY</p>
            </div>
            <div>
                <strong> Solde</strong>
                <p>0 XOF au 30/07/2019</p>
            </div>

            <div>
                <strong> Bénéficiaire à créditer</strong>
                <p>
                    <select id="inp1" style="width: 400px; height: 30px;">
                            <option value="volvo">IBOURAIMA COULIBALY 356106790566 FFHHFFH</option>
                            <option value="saab">OUSSEYNOU NDIAYE 2103 356106790566 FFHHFFH</option>
                            <option value="mercedes">PAPE FALL 2103 356106790566 FFHHFFH</option>
                            <option value="audi">YOUGA DIENG 2103 356106790566 FFHHFFH</option>
                        </select>
                </p>
            </div>
            <div>
                <strong>Catégorie</strong>
                <p>Privé</p>
            </div>

        </div>
        <div>
            <strong>Date</strong>
            <p></p>
        </div>


    </div>