<div class="container" id="principal">
  <div class="container" id="principal1">
    <div id="principal2">
      <mat-card style="margin-top:8%; width: 60%; margin-left: 27%; ">
        <img width="100" height="48" style="display: block;" src="../../../assets/img/brm_logo.png"><br>
        <h1 style="text-align: center;font-size: 130%;">RELEVE D'IDENTITE BANCAIRE</h1>
        <hr>
        Titulaire compte:
        <table style="margin-left: 32%;margin-top: -4%;display: block;">
            <tr>
                <td></td>
              <td>LEOPOLD FAYE </td>
            </tr>
            <tr>
              <td></td>
              <td>Villa 18 </td>
            </tr>
            <tr>
              <td></td>
              <td>Thiaroye </td>
            </tr>
            <tr>
              <td></td>
              <td>Dakar</td>
            </tr>
          </table>
        
        <hr>

        <table >
          <tr>
            <td>Domiciliation:</td>
            <td>11, Avenue Bourguiba </td>
          </tr>
          <tr>
            <td></td>
            <td class="aligner">Dakar </td>
          </tr>
          <tr>
            <td></td>
            <td>Sénégal </td>
          </tr>
          <tr>
            <td>Code agence:</td>
            <td>00888 </td>
          

          </tr>
        </table>
        <hr>

        <table>
          <tr>
            <td>IBAN:</td>
            <td>SN27 0110 5689 0033 9890 0908 89 </td>
          </tr>
          <tr>
            <td>BIC-SWIFT:</td>
            <td>BSTSNDAM </td>
          </tr>

        </table>

      </mat-card>
    </div>

    <!-- <div id="principal2">
      <form action="">
        <mat-card style="margin-top:8%;">
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <strong>Compte Sélectionné</strong>
              </td>
              <div style="margin-left: -384%;">

                <!--  <input id="inp1" type="text"> 

                <mat-select [(value)]="selected" matNativeControl required id="inp1">
                  <mat-option value="none">none </mat-option>
                  <mat-option value="volvo">CPTL CLIP 2103 356106790566 FFHHFFH </mat-option>
                  <mat-option value="saab">DHTL CLIP 2103 356106790566 FFHHFFH</mat-option>
                  <mat-option value="mercedes">EQGL CLIP 2103 356106790566 FFHHFFH</mat-option>
                  <mat-option value="audi">ADRF CLIP 2103 356106790566 FFHHFFH</mat-option>
                </mat-select>


              </div>

            </tr>
          </table> <br>

          <div>
            <strong>
              Titulaire du compte
            </strong>
            <p>Pape Fall </p>
          </div>

          <div>
            <strong>
              Libellé
            </strong>
            <p>CPTH VBFGGF</p>
          </div>

          <div>
            <strong>
              Numéro de Compte
            </strong>
            <p>2054 522555 1255555 45554455</p>
          </div>

          <div>
            <strong>
              Agence
            </strong>
            <p>Mermoz </p>
          </div>

          <div>
            <strong>
              Adresse du Client
            </strong>
            <p>Sicap Foire</p>
          </div>
        </mat-card>
      </form>

    </div>

  </div> -->
    <div style="margin-left:26%;margin-top: 1%;">

      <!-- <button class="btn-impression" printTitle="E-BANKING" printSectionId="principal2" ngxPrint> -->
      <!-- <mat-icon style="margin-left:-80px;" matSuffix>print</mat-icon>
      <div style="margin-top:-25px; margin-left:30px;">Impression</div>
    </button> -->
      <button mat-raised-button color="warn" [routerLink]="['../']">Retour</button>
      <button mat-raised-button color="primary"  printSectionId="principal2" ngxPrint>
        <mat-icon style="margin-top: -25px;" matSuffix>print</mat-icon>
        &nbsp; &nbsp; &nbsp;Impression
      </button>
    </div>
  </div>