<div class="container" id="principal">
  <div class="container" id="principal1">


    <div id="principal2">
      <form action="">
        <mat-card style="margin-top:8%;">
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <strong>Compte Sélectionné</strong>
              </td>
              <div style="margin-left: -384%;">

                <!--  <input id="inp1" type="text"> -->

                <mat-select [(value)]="selected" matNativeControl required id="inp1">
                  <mat-option value="none">none </mat-option>
                  <mat-option value="volvo">CPTL CLIP 2103 356106790566 FFHHFFH </mat-option>
                  <mat-option value="saab">DHTL CLIP 2103 356106790566 FFHHFFH</mat-option>
                  <mat-option value="mercedes">EQGL CLIP 2103 356106790566 FFHHFFH</mat-option>
                  <mat-option value="audi">ADRF CLIP 2103 356106790566 FFHHFFH</mat-option>
                </mat-select>


              </div>

            </tr>
          </table> <br>

          <div>
            <strong>
              Titulaire du compte
            </strong>
            <p>Pape Fall </p>
          </div>

          <div>
            <strong>
              Libellé
            </strong>
            <p>CPTH VBFGGF</p>
          </div>

          <div>
            <strong>
              Numéro de Compte
            </strong>
            <p>2054 522555 1255555 45554455</p>
          </div>

          <div>
            <strong>
              Agence
            </strong>
            <p>Mermoz </p>
          </div>

          <div>
            <strong>
              Adresse du Client
            </strong>
            <p>Sicap Foire</p>
          </div>
        </mat-card>
      </form>

    </div>

  </div>
  <div style="margin-left:-0.5%;margin-top: 1%;">

    <!-- <button class="btn-impression" printTitle="E-BANKING" printSectionId="principal2" ngxPrint> -->
    <!-- <mat-icon style="margin-left:-80px;" matSuffix>print</mat-icon>
      <div style="margin-top:-25px; margin-left:30px;">Impression</div>
    </button> -->
    <button mat-raised-button color="warn" [routerLink]="['../']">Retour</button>
    <button mat-raised-button color="primary" printTitle="E-BANKING" printSectionId="principal2" ngxPrint>
      <mat-icon style="margin-top: -25px;" matSuffix>print</mat-icon>
      &nbsp; &nbsp; &nbsp;Impression
    </button>
  </div>
</div>