<mat-form-field style="margin-left:50px; width: 96%; margin-top: 2%;">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Code banque -->
    <ng-container matColumnDef="banque">
      <th mat-header-cell *matHeaderCellDef> Code banque </th>
      <td mat-cell *matCellDef="let element"> {{element.banque}} </td>
    </ng-container>

    <!-- Name Code guichet -->
    <ng-container matColumnDef="guichet">
      <th mat-header-cell *matHeaderCellDef> Code guichet </th>
      <td mat-cell *matCellDef="let element"> {{element.guichet}} </td>
    </ng-container>

    <!-- Weight Numéro compte -->
    <ng-container matColumnDef="numero">
      <th mat-header-cell *matHeaderCellDef> Numéro compte </th>
      <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
    </ng-container>

    <!-- Symbol Clé RIB -->
    <ng-container matColumnDef="rib">
      <th mat-header-cell *matHeaderCellDef> Clé RIB </th>
      <td mat-cell *matCellDef="let element"> {{element.rib}} </td>
    </ng-container>

    <!-- Symbol Domicialiation -->
    <ng-container matColumnDef="domicialiation">
      <th mat-header-cell *matHeaderCellDef> Domicialiation </th>
      <td mat-cell *matCellDef="let element"> {{element.domicialiation}} </td>
    </ng-container>

    <!-- Symbol Titulaire -->
    <ng-container matColumnDef="titulaire">
      <th mat-header-cell *matHeaderCellDef> Titulaire </th>
      <td mat-cell *matCellDef="let element"> {{element.titulaire}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    
    <tr mat-row class="table-item" *matRowDef="let row; columns: displayedColumns;" [routerLink]="[ '/dashbord/masse/' ]"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
