#principal{
  margin-left: 5%;
  margin-top: 2%;
}
#imp{
  margin-left: 100%;

}
table{
  width: 100%;
}
#principal{
  width: 80%;
}
#inp1{
  width: 80%;
  height: 30px;
  margin-left: -1%;
}
#input2{
  width: 30%;
  height: 20px;
  margin-left: 60%;
}
p{
  margin-left: 32%;
  margin-top: -15px;
  font-size: 14px;

}
mat-icon{
  width: 10px;
  height: 10px;
}

