<div class="container" id="page">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <div>
      <img mat-card-image src="assets/img/brm_logo.png" alt="faire opposer">
      <h4>BANQUE RÉGIONALE DE MARCHÉ</h4>
      <h6>RELEVE D'ITENTITE BANCAIRE</h6>
    </div>
    </mat-grid-tile>
    
    
    
    <mat-grid-tile>
      
       <p>En cas de perte, de vol ou d'utilisation frauduleuse, le titulaire de la carte doit faire opposition dans les meilleurs délais. Cette opposition permet à la banque de prendre toutes 
      les mesures pour que la carte ne soit plus utilisable.</p> 
    </mat-grid-tile>
    
  </mat-grid-list>
  
</div>

 

