
mat-grid-tile{
    width: 35%;
    margin: 1%;
    border: 2px solid;
    border-radius: 5px;
   

}
#page{
    margin-top: 3%;
}
img{
    width: 60px;
    height: 60px;
    margin-top: -30%;
    margin-left: -60.8%;
    
}
h4{
    margin-top: -25%;
    margin-left: 1%; 
    margin-right: -50%;
}
h6{
    margin-right: -50%;
    margin-top: -10%;
    border-bottom:3px solid; 

}

