<<<<<<< HEAD
/* .table-item:hover {
=======
=======
>>>>>>> 5fd273dd82a782305d1af7bee70c5de770ecb803
/* .table-item:hover {
    cursor: pointer;
    background-color: rgb(218, 215, 243);
    border-right: 3px solid rgba(7, 7, 65, 0.637);
    border-left: 3px solid rgba(7, 7, 65, 0.637);
} */

th {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

td {
    color: slategray;
    font-size: 12px;
}