<!-- <a routerLink="/dashboard/nouveau-compte/">
<button  style="margin-left: 80%; margin-top: 1%; margin-bottom: -4%;"
mat-raised-button color="primary">Ajouter un nouveau compte</button>
</a> -->
<div class="container-fluid">
    <div class="w3-container w3-margin container-fluid w3-center">
      <span style="color:black;font-size: 13%;">Vos Comptes</span>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 container-fluid">
      
        <ng-container matColumnDef="intitule">
          <th mat-header-cell *matHeaderCellDef> Intitulé du compte </th>
          <td mat-cell *matCellDef="let element"> {{element.intitule}} </td>
        </ng-container>

        <ng-container matColumnDef="numero">
          <th mat-header-cell *matHeaderCellDef> Numéro de compte </th>
          <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
        </ng-container>

        <ng-container matColumnDef="solde">
          <th mat-header-cell *matHeaderCellDef> Solde comptable </th>
          <td mat-cell *matCellDef="let element"> {{element.solde}}</td>
        </ng-container>

        <ng-container matColumnDef="montant_dispo">
            <th mat-header-cell *matHeaderCellDef> Solde disponible  </th>
            <td mat-cell *matCellDef="let element"> {{element.montant_dispo}}</td>
          </ng-container>

          <ng-container matColumnDef="montant">
            <th mat-header-cell *matHeaderCellDef> <a  style="margin-left: 10.5%;">Actions</a>  </th>
            <td mat-cell *matCellDef="let element">
              
            <button   color="primary" routerLink="/dashboard/releve/"
            matTooltip="Relevé d’identité Bancaire"
            [matTooltipPosition]="position.value"
            aria-label="Button that displays a tooltip in various positions">
            <span style="font-size:-21%; color: blue;"><i class="fas fa-book-reader"></i></span></button>


            <button color="primary" routerLink="/dashboard/carte/"
            matTooltip="Cartes"
            [matTooltipPosition]="position.value"
            aria-label="Button that displays a tooltip in various positions">
            <span style="font-size:-21%; color: blue;"><i class="fas fa-address-book"></i></span></button>

          <button  color="primary" routerLink="/dashboard/cheque/"
            matTooltip="Chéquiers"
            [matTooltipPosition]="position.value"
            aria-label="Button that displays a tooltip in various positions">
            <span style="font-size:-21%; display:block;margin: auto;text-align: center;color: blue;"><i class="fas fa-book"></i></span></button>
          </td>
          </ng-container>  

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row class="table-item" *matRowDef="let row; columns: displayedColumns;" [routerLink]="[ 'operations' ]"></tr>
      </table>

      <mat-paginator [length]="displayedColumns.length" [hidden]="true" [pageSize]="14" [pageSizeOptions]="[5,8, 10]"
        showFirstLastButtons></mat-paginator>
</div>