
.table-item:hover {
    cursor: pointer;
    background-color: rgb(194, 241, 245);
    border-right: 3px solid rgba(7, 7, 65, 0.637);
    border-left: 3px solid rgba(7, 7, 65, 0.637);
}
th{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}
td{
    color: slategray;
}
button{
    margin: 3px;
    width: 20px;
    height: 30px;

}
mat-icon{
    width: 10px;
    height: 10px;
    margin-top: -16px;
  }
  