.table-item:hover {
    background-color: rgb(218, 215, 243);
    border-right: 3px solid rgba(7, 7, 65, 0.637);
    border-left: 3px solid rgba(7, 7, 65, 0.637);
}
table{
    width: 90%;
}

th {
    font-family: 'Courier New', Courier, monospace;
    font-size: 26px;
    color: black;
}

td {
    color: grey;
    font-size: 12px;
}

button {
    margin: 5px;
    height: 60%;
}

mat-icon {
    text-align: center;
    display: block;
    margin: auto;
}