<mat-tab-group animationDuration="1500ms">

    <mat-tab label="Map">



        <div class="container">

            <h6>Notre réseau d'agences et de GABs
                
            </h6>

            <div class="form-group">
                <label>Enter address</label>
                <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()"
                    placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off"
                    type="text" #search>
            </div>

            <!-- <h1>{{ title }}</h1> -->

            <!-- <agm-map [zoom]="14" [latitude]="late" [longitude]="lnge" (mapClick)="onChooseLocation($event)" > -->

            <agm-map [zoom]="14" [latitude]="late" [longitude]="lnge"  >
                <agm-marker [latitude]="late" [longitude]="lnge" ></agm-marker>

            </agm-map>

            <div>Latitude: {{late}}</div>
            <div>Longitude: {{lnge}}</div>
        </div>
    </mat-tab>


    <mat-tab label="Liste">
        <div class="container" id="tableau">

            <div style="margin-left: 40%; font-size: 16px; margin-bottom: 2%;">Nos Agences</div>
            <table class="table">
                <thead>
                    <th>Symbole</th>
                    <th>Agences</th>
                    <th>Adresse</th>

                </thead>
                <tbody>
                    <tr>
                        <td><img src="/assets/img/agence.png" style="width: 30px; margin-left: 10px;  height: 20px;">
                        </td>
                        <td>Sicap foire </td>
                        <td>Sicap foire lot 139</td>

                    </tr>
                    <tr>
                        <td><img src="/assets/img/agence.png" style="width: 30px; margin-left: 10px;  height: 20px;">
                        </td>
                        <td>Point E</td>
                        <td>A coté de l'université (UCAD)</td>

                    </tr>
                    <tr>
                        <td><img src="/assets/img/agence.png" style="width: 30px; margin-left: 10px;  height: 20px;">
                        </td>
                        <td>Pikine</td>
                        <td>Pikine Est face cinéma awa</td>

                    </tr>

                </tbody>

            </table>



            <div>

                <div style="margin-left: 40%; font-size: 16px; margin-bottom: 2%; margin-top: 4%;">Nos GABs</div>
                <table class="table">
                    <thead>
                        <th>Symbole</th>
                        <th>Gabs</th>
                        <th>Adresse</th>

                    </thead>
                    <tbody>

                        <tr>
                            <a routerLink="/dashboard/reseaux-details/">
                                <td><img src="/assets/img/gabs.jpg"
                                        style="width: 30px; margin-left: 10px;  height: 20px;"></td>
                            </a>
                            <td>Sicap foire </td>
                            <td>Sicap foire lot 139</td>

                        </tr>

                        <tr>
                            <td><img src="/assets/img/gabs.jpg" style="width: 30px; margin-left: 10px;  height: 20px;">
                            </td>
                            <td>Point E</td>
                            <td>A coté de l'université (UCAD)</td>

                        </tr>
                        <tr>
                            <td><img src="/assets/img/gabs.jpg" style="width: 30px; margin-left: 10px;  height: 20px;">
                            </td>
                            <td>Pikine</td>
                            <td>Pikine Est face cinéma awa</td>

                        </tr>

                    </tbody>

                </table>
            </div>
        </div>

    </mat-tab>
</mat-tab-group>