<mat-toolbar class="brm-color" style="display: flex; align-items: center;flex-wrap: wrap;">
    <mat-toolbar-row>
        <img width="90" height="46" style="margin-top: -0.4%;" src="../../../assets/img/brm_logo.png">
        <span class="example-spacer" style="flex:auto;"></span>

        <span class="example-spacer" style="flex:auto;"></span>



        <span class="example-spacer" style="flex:auto;"></span>
        <a style="color:white; font-size: 12px;">
            Bienvenue Ibouraima Coulibaly </a>
        <a style="color:white; font-size: 12px; margin-left: 2%;"> Dernière connexion 31/07/2019</a>

        <button mat-icon-button style="color:white;" [matMenuTriggerFor]="menu">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">

            <button mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span>Changer mot de passe</span>
            </button>
            <button mat-menu-item [routerLink]="[ '' ]">
                <mat-icon>close</mat-icon>
                <span>Déconnexion</span>
            </button>

        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>


<mat-sidenav-container class="admin-container">
    <mat-sidenav mode="side" class="sidenav" opened>
        <mat-list>

            <a routerLink="/dashboard/">
                <mat-list-item>
                    <span class="fa fa-home" style="color: rgb(46, 13, 163);"></span>
                    <h4 mat-line> Comptes </h4>
                </mat-list-item>
            </a>

            <mat-divider></mat-divider>
            <a routerLink="/dashboard/prets/">
                <mat-list-item>
                    <span class="fa fa-money-bill-alt" style="color:rgb(39, 12, 161);"></span>
                    <h4 mat-line>Prêts en cours</h4>
                </mat-list-item>
            </a>
        </mat-list>
        <mat-divider></mat-divider>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Virements</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list>
                    <mat-divider></mat-divider>
                    <a routerLink="/dashboard/beneficaire/">
                        <mat-list-item>
                            <span class="fa fa-user " style="color:rgb(39, 12, 161);"></span>
                            <h4 mat-line>Vers bénéficiaire</h4>
                        </mat-list-item>
                    </a>
                    <mat-divider></mat-divider>
                    <a routerLink="/dashboard/compte/">
                        <mat-list-item>
                            <span class="fa fa-home " style="color:rgb(39, 12, 161);"></span>
                            <h4 mat-line>Vers compte</h4>
                        </mat-list-item>
                    </a>
                    <mat-divider></mat-divider>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-list>
            <!-- <a routerLink="/dashboard/masse/">
                <mat-list-item>
                    <span class="fa fa-hand-holding-usd  " style="color: rgb(46, 13, 163);"></span>
                    <h4 mat-line>Virements de masse</h4>
                </mat-list-item>
            </a> -->
            <mat-divider></mat-divider>
            <a routerLink="/dashboard/depot-terme/">
                <mat-list-item>
                    <span class="fa fa-users" style="color:rgb(46, 13, 163);"></span>
                    <h4 mat-line>Dépots à Terme </h4>
                </mat-list-item>
            </a>
            <mat-divider></mat-divider>
            <a routerLink="/dashboard/liste-beneficiaire/">
                <mat-list-item>
                    <span class="fa fa-users  " style="color:rgb(46, 13, 163);"></span>
                    <h4 mat-line>Bénéficiaires</h4>
                </mat-list-item>
            </a>
            <a routerLink="/dashboard/remise-cheque/">
                <mat-list-item>
                    <span class="fa fa-book " style="color: rgb(46, 13, 163);"></span>
                    <h4 mat-line>Remise de chéque</h4>
                </mat-list-item>
            </a>
            <!-- <a routerLink="/dashboard/releve/">
        <mat-list-item>
            <span class="fa fa-portrait " style="color: rgb(46, 13, 163);"></span> 
          <h4 mat-line>Relevé d'identification bancaire</h4>
        </mat-list-item>
      </a> -->
            <mat-divider></mat-divider>
        </mat-list>

        <!-- <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Cartes et Chéquiers</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-divider></mat-divider>
          <a routerLink="/dashboard/commander/">
            <mat-list-item>
                <span class="fa fa-share " style="color: rgb(46, 13, 163);"></span> 

              <h4 mat-line>Commander</h4>
            </mat-list-item>
          </a>
          <mat-divider></mat-divider>
          <a routerLink="/dashboard/faire/">
            <mat-list-item>
                <span class="fa fa-reply " style="color: rgb(46, 13, 163);"></span> 
              <h4 mat-line>Faire Opposition</h4>
            </mat-list-item>
          </a>
          <mat-divider></mat-divider>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion> -->
        <mat-list>
            <a routerLink="/dashboard/devise/">
                <mat-list-item>
                    <span class="fa fa-balance-scale" aria-hidden="true" style="color: rgb(46, 13, 163);"></span>
                    <h4 mat-line>Cours des devises</h4>
                </mat-list-item>
            </a>
            <mat-divider></mat-divider>
            <a routerLink="/dashboard/reseaux/">
                <mat-list-item>
                    <span class="fa fa-hotel  " style="color: rgb(46, 13, 163);"></span>

                    <h4 mat-line>Réseaux Agences et GABs</h4>
                </mat-list-item>
            </a>
            <mat-divider></mat-divider>
            <a routerLink="/dashboard/messagerie/">
                <mat-list-item>
                    <span class="fa fa-envelope  " style="color: rgb(46, 13, 163);"></span>
                    <h4 mat-line>Messagerie</h4>
                </mat-list-item>
            </a>
            <mat-divider></mat-divider>

        </mat-list>
        <mat-divider></mat-divider>

    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>

       <div class="footer"></div>
        

    </mat-sidenav-content>
</mat-sidenav-container>