<mat-card class="positionM">Référence: FCFA</mat-card>
<button class="bouton_ajout" routerLink="/dashboard/add-devise" mat-fab color="primary">Ajouter Devise</button>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 ">
     
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
  
    <!-- Devise Column -->
    <ng-container matColumnDef="devise">
      <th mat-header-cell *matHeaderCellDef> Devise </th>
      <td mat-cell *matCellDef="let element"> {{element.devise}} </td>
    </ng-container>

    <ng-container matColumnDef="achat">
        <th mat-header-cell *matHeaderCellDef> Valeur à l'achat </th>
        <td mat-cell *matCellDef="let element"> {{element.achat}} </td>
      </ng-container>

      <ng-container matColumnDef="vente">
          <th mat-header-cell *matHeaderCellDef> Valeur à la vente </th>
          <td mat-cell *matCellDef="let element"> {{element.vente}} </td>
        </ng-container>
    
  
    <!-- FCFA Column -->
    <ng-container matColumnDef="fcfa">
      <th mat-header-cell *matHeaderCellDef> FCFA </th>
      <td mat-cell *matCellDef="let element"> {{element.fcfa}} </td>
    </ng-container>
  
    
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  