<div class="container" id="telecharger">
 <h5>Cher client, <br>
    Pour vous abonner au service BANQUE RÉGIONALE DE MARCHÉ,
     vous voudrez bien télécharger le contrat de souscription correspondant à votre situation.
  </h5>
  <div id="telecharger1">
      <img id="img1" mat-card-image src="assets/img/Telecharger.png" alt=""> 
 
     <a [href]="fileUrl" download="contrat_Entreprises.pdf">
        Télécharger le contrat (Contrat BABQUE RÉGIONALE DE MARCHÉ  Entreprises Associations & Professionnels)</a>
      </div>
      <div class="container" id="telecharger2">
          <img id="img1" mat-card-image src="assets/img/Telecharger.png" alt=""> 
 
     <a [href]="fileUrl" download="contrat_Particuliers.txt">
        
Télécharger le contrat (Contrat BABQUE RÉGIONALE DE MARCHÉ Particuliers)</a> <br>
      </div>
 
</div>