<div class="container" id="telecharger">
    <h5>Cher client, <br> Pour vous abonner au service E-BANKING de la BANQUE RÉGIONALE DE MARCHÉS, vous voudrez bien
        télécharger le contrat de souscription correspondant à votre situation.
    </h5>
    <div class="">
        <table>
            <tr>
                <td></td>
                <td></td>
                <td > <img style="color: orange;margin-left: 50%;" id="img1" mat-card-image src="assets/img/Telecharger.png" alt=""><br>

                    <button style="background-color: orange;margin-left: 50%;" (click)="download1()">
                        Entreprises
                    </button><br>
                </td>
                <td>
                    <img  id="img1" mat-card-image src="assets/img/Telecharger.png" alt=""
                        style="background-color: orange;margin-left: 25%;"><br>

                    <button style="background-color: orange;margin-left: 25%;" (click)="download()">
                        Particuliers
                    </button><br>

                </td>
            </tr>
        </table>

    </div>

</div>
<div class="row" id="btr">
    <button mat-raised-button color="warn" [routerLink]="[ '../']">Retour</button>
</div>